
<div class="main">
  <div class="main_left left">
    <ul>

        <a [routerLink]="['basic']" routerLinkActive="back">
          <li id="li1">基础设置</li></a>

        <a [routerLink]="" routerLinkActive="active">
          <li id="li2">个人资料</li></a>

        <a [routerLink]="" routerLinkActive="back">
          <li  id="li3">微博认证</li></a>

        <a [routerLink]="" routerLinkActive="back">
          <li id="li4">黑名单</li></a>

        <a [routerLink]="" routerLinkActive="back">
          <li id="li5">赞赏设置</li></a>

        <a [routerLink]="['misc']" routerLinkActive="back">
          <li id="li6">
            <img src="../../assets/img/settings.png" height="33" width="33"/>
            &nbsp;账号管理
          </li></a>

    </ul>
  </div>
  <div class="main_right right">
    <router-outlet>

    </router-outlet>

  </div>


</div>

<!--<script>-->
  <!--$(function () {-->
    <!--var li=$(".main_left ul li");-->
    <!--var Index=0;-->
    <!--li.eq(Index).css("background","#F0F0F0").siblings().css("background","#fff");-->

    <!--li.on('click',function(){-->
      <!--Index= $(this).index();-->
      <!--$(this).css("background","#F0F0F0").siblings().css("background","#fff");-->

    <!--});-->
    <!--li.on({-->

      <!--mouseover:function(){-->
        <!--$(this).css("background","#F0F0F0");-->
      <!--},-->
      <!--mouseout:function(){-->
        <!--var INDEX=$(this).index();-->
        <!--if(INDEX!=Index){-->
          <!--$(this).css("background","#FFF");-->
        <!--}-->
        <!--// $(this).css("background","#fff");-->
      <!--}-->
    <!--});-->

  <!--});-->
<!--</script>-->
