<table>
  <tr class="head">
    <td>
      <div class="icon">
        <img src="" alt="">
      </div>
    </td>
    <td>
      <button class="change">更改头像</button>
    </td>
  </tr>
  <tr class="first">
    <td class="td-left">昵称</td>
    <td>
      <input type="text" id="nickname" class="bro" placeholder="请输入昵称">
    </td>
  </tr>

  <tr class="second">
    <td class="td-left">电子邮箱
    </td>
    <td>
      <form action="">
        <input type="email" id="email" class="bro" placeholder="请输入常用的电子邮箱">
        <input type="button" class="send right" value="发送">
      </form>

    </td>
  </tr>

  <tr class="second">
    <td class="td-left">手机</td>
    <td>
      <button class="change">绑定手机</button>

    </td>
  </tr>
  <tr class="second">
    <td class="td-left">语言设置</td>
    <td>
      <div class="col-xs-4 three">
        <input type="radio" name="language" checked="checked">中文简体
      </div>
      <div class="col-xs-8 three">
        <input type="radio" name="language">中文繁体
      </div>

    </td>
  </tr>
  <tr class="second">
    <td class="td-left">接收谁的简信</td>
    <td>
      <div class="col-xs-4 three">
        <input type="radio" name="who" checked="checked">所有人
      </div>
      <div class="col-xs-8 three">
        <input type="radio" name="who">我关注的人、我发过简信的人
      </div>
    </td>
  </tr>
</table>


<input type="button" value="保存" class="save">

