<div class="bla">

  <div class="container">
    <div class="row">
      <a href="index.html"><div class="logo">简 帖</div></a>
      <div class="main">
        <app-nav></app-nav>
        <form id="myform">
          <div class="bro_user">
            <img src="../assets/img/04 人头.png" height="17" width="17"/>
            <input type="text" id="user_id" name="userId" placeholder="手机号或邮箱">
          </div>
          <div class="bro_pass">
            <img src="../assets/img/密码.png" height="17" width="17"/>
            <input type="text" id="user_password" name="userPassword" placeholder="密码">
          </div>
          <div class="check_btn">
            <input type="checkbox">
            <span style="color: #969696">记住我</span>
          </div>
          <a href=""><span>登录遇见问题？</span></a>
          <input type="submit" value="登录" id="btn_submit">
        </form>
        <div class="more_sign">
          <h6>社会账号登录</h6>
          <div>
            <img src="../assets/img/weibo.png" height="50" width="50"/>
            <img src="../assets/img/weixin (1).png" height="50" width="50"/>
            <img src="../assets/img/qq (3).png" height="55" width="55"/>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
