<div class="bla">
  <div class="container">
    <div class="row">
      <a href="index.html"><div class="logo">简 帖</div></a>
      <div class="main">
        <app-nav></app-nav>
        <form id="myform">
          <div class="bro_user">
            <img src="../assets/img/04 人头.png" height="17" width="17"/>
            <input type="text" id="user_id" name="userId" placeholder="你的昵称">
          </div>
          <div class="bro_tel">
            <img src="../assets/img/04 人头.png" height="17" width="17"/>
            <input type="text" id="tel" name="userId" placeholder="手机号">
          </div>
          <div class="bro_pass">
            <img src="../assets/img/密码.png" height="17" width="17"/>
            <input type="text" id="user_password" name="userPassword" placeholder="设置密码">
          </div>
          <input type="submit" class="regist_btn" value="注册" id="btn_submit">
        </form>
        <div class="xieyi">
          点击 “注册” 即表示您同意并愿意遵守简书 <br>
                 <span style="color: #3194D9">用户协议</span > 和 <span style="color: #3194D9">隐私政策</span> 。
        </div>

        <div class="more_sign">
          <h6>社会账号直接注册</h6>
          <div>
            <img src="../assets/img/weibo.png" height="50" width="50"/>
            <img src="../assets/img/weixin (1).png" height="50" width="50"/>
            <img src="../assets/img/qq (3).png" height="55" width="55"/>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
